section
  h2.slide-title Paris.rb is ❤️

  h3.slide-question 1ère visite à ParisRB ?
  p.slide-answer Levez la main 🙋🏻‍♀️🙋🏽‍♂️

  h3.slide-question Pas votre première fois ?
  p.slide-answer Allez vers ceux qui l'ont levée 👋
