<ul class="list-none">
  <% unless controller_name == 'sessions' %>
    <li><%= link_to t('.sign_in'), new_session_path(resource_name), class: "link" %></li>
  <% end %>
  <% if devise_mapping.recoverable? && !controller_name.in?(['passwords', 'registrations']) %>
    <li><%= link_to t('.forgot_password'), new_password_path(resource_name), class: "link" %></li>
  <% end %>
</ul>
