= simple_form_for talk, html: { class: 'form-horizontal', role: 'form' } do |f|
  = f.input :title
  = f.input :speaker_name
  = f.input :speaker_email
  = f.input :speaker_twitter
  = f.input :level, as: :radio_buttons
  = f.input :duration, as: :radio_buttons

  .form-group
    .col-sm-9.col-sm-offset-3
      p.text-left
        a href="http://www.meetup.com/fr-FR/parisrb/pages/Code_d'%C3%A9thique_et_d%C3%A9ontologie/"
          = t('.accept_coc')
      = f.button :submit, class: 'btn-default'
