<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  <%= search_form_for @search, url: videos_path,
            html: {
              data: {
                turbo_frame: "videos",
                controller: "form"
              },
              role: 'search',
              class: "sm:col-start-2 lg:col-start-3 flex items-center gap-4 w-full justify-end" } do |f| %>
    <%= f.label :title_or_description_cont, class: "input input-bordered input-sm flex items-center gap-2 sm:max-w-sm w-full" do %>
      <%= f.search_field :title_or_description_cont,
              class: "grow",
              placeholder: t('.search_placeholder'),
              "aria-label": t('.aria_search'),
              data: {action: "debounced:keyup->form#submit"} %>
      <%= lucide_icon "search", class: "w-4 h-4 opacity-70", "aria-hidden": true %>
    <% end %>
  <% end %>
</div>
