- title t('.title')
- description t('.description')

.section.section-page.videos
  .container
    header
      h1 = t('.title')

      .row
        .col-xs-12.col-sm-4.col-sm-offset-4
          = render 'search_form'

    - videos.each_slice(2) do |videos_group|
      .row
        - videos_group.each do |video|
          .col-xs-12.col-sm-5{ class=cycle('col-sm-offset-1', '') }
            - cache video do
              = content_tag_for :div, video do
                p.thumb
                  = link_to video_path(video.slug) do
                    = image_tag video.vimeo_thumbnail, width: 310, class: 'img-thumbnail'
                p.title
                  = link_to video.title, video_path(video.slug), class: 'link'
                p.date
                  = time_ago_in_words video.event_date

    = paginate videos, renderer: 'BootstrapRenderer'
