<%
  title @video.title
  description @video.short_description
%>

<div class="container pt-12 pb-20">
  <%= back_to t(".back"), :back, class: "mb-8" %>
  <h1 class="text-center text-primary mb-8"><%= @video.title %></h1>

  <%= render "videos/#{@video.provider}", video: @video if @video.provider %>
</div>
