- title video.title
- description video.description.truncate(170, separator: ' ')

.section.section-page.video
  .container
    header
      h1 = video.title

    .row
      .col-md-8.col-md-offset-2
        .embed-container
          iframe{
            src="//player.vimeo.com/video/#{video.vimeo_id}"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          }

    .row
      .video-description.col-md-6.col-md-offset-3
        p = simple_format(video.description)

    .row
      .video-event-date.col-md-6.col-md-offset-3.text-center.text-muted
        = time_ago_in_words video.event_date
