<section class="section section-you">
  <div class="container">
    <header>
      <h1><%= t('.you.title') %></h1>
    </header>

    <p><%= link_to t('.you.give_a_talk'), talks_path, class: 'btn btn-default btn-lg' %></p>
  </div>
</section>
