<section>
  <div class="text-6xl font-extralight font-heading flex items-center gap-2 justify-center mb-8">
    <div>Paris<span class="text-primary">.rb</span></div>
    <%= lucide_icon "heart", class: 'text-primary h-10 w-10 mb-4' %>
  </div>

  <div class="text-6xl font-heading text-primary mb-2">1ère visite à ParisRB ?</div>
  <div class="text-xl mb-6">Levez la main !</div>

  <div class="text-6xl font-heading text-primary mb-2">Pas votre première fois ?</div>
  <div class="text-xl mb-6">Allez vers ceux qui l'ont levée :)</div>
</section>
