<section>
  <h2>Sponsors &lt;3</h2>

  <% sponsors.each do |sponsor| %>
    <% if sponsor.logo.present? %>
      <%= image_tag sponsor.logo.url, alt: sponsor.name, class: "sponsor__logo" %>
    <% else %>
      <%= sponsor.name %>
    <% end %>
  <% end %>

  <p>... et vous ?</p>
</section>
