<section>
  <div class="text-6xl font-extralight font-heading flex items-center gap-2 justify-center mb-8">
    <div>Sponsors</div>
    <%= lucide_icon "heart", class: 'text-primary h-10 w-10 mb-4' %>
  </div>

  <div class="flex items-center justify-center gap-12">
    <%= render partial: "sponsors/card", collection: @sponsors, as: :sponsor %>
  </div>

  <div class="mt-8 text-xl">... et vous ?</div>
</section>
