<section>
  <div class="text-6xl font-extralight font-heading flex items-center gap-2 justify-center">
    <div>Paris<span class="text-primary">.rb</span></div>
    <%= lucide_icon "heart", class: 'text-primary h-10 w-10 mb-4' %>
  </div>
</section>
