.reveal
  .header
    .date = l(Date.today, format: '%A %d %B %Y')
    .logo = image_tag 'logo.png', alt: 'Rubyparis'
  .slides
    = render 'lineups/welcome'
    = render 'lineups/newcomers'
    = render 'lineups/talks'
    = render 'lineups/sponsors'
    = render 'lineups/speakers'
    = render 'lineups/social_media'
