<% if sponsor.logo.attached? %>
  <div class="w-[200px] h-[160px] flex items-center justify-center overflow-hidden">
    <%= cl_image_tag sponsor.logo.key,
                      width: 200,
                      height: 160,
                      crop: :fit,
                      class: "object-contain max-w-full max-h-full transition duration-500 ease-in-out group-hover:scale-110",
                      alt: t(".sponsor_logo", name: sponsor.name),
                      srcset: "#{cl_image_path sponsor.logo.key, width: 400, height: 320, crop: :fit} 2x" %>
  </div>
<% end %>
