<% active = current_page?(path) %>
<div class="flex flex-col gap-1">
  <li><%= link_to text, path %></li>
  <% if active %>
    <div class="w-full border border-primary rounded" style="view-transition-name: navbar-link"></div>
  <% else %>
    <div class="w-full border border-transparent"></div>
  <% end %>
</div>
