<%# current_page: a page object for the currently displayed page %>
<%# total_pages: total number of pages %>
<%# per_page: number of items to fetch per page %>
<li class="join-item btn btn-disabled">
  ...
</li>
