<div id="job_offers"></div>
<script type='text/javascript'>
  $.get('https://jobs.rubyparis.org/en/job_offers.json', function (res) {
    $.each(res, function (e) {
      $('#job_offers').append(
        "<div class='sponsor col-sm-3'><a href=https://jobs.rubyparis.org/en/job_offers/" + $(this)[0].slug + ">" +
          $(this)[0].title +
          "<br/> Employeur : &nbsp;" +
          $(this)[0].company_name +
        "</a></div>");
    })
  });
</script>
