.heroBanner {
  margin-bottom: map-get($spacers, five);
  padding: 24px 0 200px;
  position: relative;

  @include md {
    padding: map-get($spacers, triple) 0 map-get($spacers, triple);
  }

  @include xl {
    margin-bottom: map-get($spacers, ten);
  }

  &::before {
    $ruby-w: 422px;
    $ruby-h: 262px;

    background-image: image-url('exploded-ruby.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: $ruby-w $ruby-h;
    bottom: -94px;
    content: '';
    display: block;
    height: $ruby-h;
    left: calc((100vw - #{$ruby-w}) / 2);
    position: absolute;
    width: $ruby-w;

    @include md {
      $ruby-w: 633px;
      $ruby-h: 393px;

      background-size: $ruby-w $ruby-h;
      bottom: -10px;
      height: $ruby-h;
      left: auto;
      right: -($ruby-w / 2) + 30px;
      width: $ruby-w;
    }

    @include lg {
      $ruby-w: 844px;
      $ruby-h: 524px;
      $container-max: map-get($container-max-widths, lg);

      background-size: $ruby-w $ruby-h;
      bottom: calc((100% - #{$ruby-h}) / 2);
      height: $ruby-h;
      left: auto;
      right: calc(((100vw - #{$container-max}) / 2) - 400px);
      width: $ruby-w;
    }

    @include xl {
      $container-max: map-get($container-max-widths, lg);
      right: calc(((100vw - #{$container-max}) / 2) - 610px);
    }
  }
}

.heroBanner-link {
  @include flexFont(m);

  &, &:hover {
    color: $white;
    text-decoration: underline;
  }
}

.heroBanner-linkWrapper {
  line-height: 1;

  @include md {
    padding: 0 1rem;
  }
}

.heroBanner-title {
  @include flexFont(xxxl);

  margin-bottom: map-get($spacers, double);
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
  text-transform: uppercase;

  @include md {
    line-height: 1;
    max-width: none;
  }
}
