.talkForm {
  margin-bottom: map-get($spacers, five);

  @include xl {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transform: skew(-1deg, -1deg);
  }
}

.talkForm-content {
  @include xl {
    padding: 32px 80px 80px;
    transform: skew(1deg, 1deg);
  }
}

.talkForm-fields {
  height: 0;
  overflow: hidden;

  @include md {
    height: initial;
    overflow: initial;
  }
}

.talkForm-toggle {
  @include md {
    display: none;
  }
}
