.main-content {
  font-weight: bold;

  form {
    text-align: left;
  }

  .text-left {
    text-align: left;
  }
}

body > footer p {
  padding: 1em 0;
  text-align: center;

  a {
    color: #5d2026;
    padding: 0 2em;

    &:hover,
    &:active,
    &:focus {
      color: #5d2026;
    }

    &:visited {
      color: lighten(#5d2026, 20%);
    }
  }
}

.section {
  padding: 2em 0 3em;

  header {
    margin-bottom: 3em;
  }
}

.section-guests,
.section-page,
.section-sponsors,
.section-talks {
  color: #fff;
}

.section-guests,
.section-page {
  a {
    text-decoration: underline;
  }
}

.section-guests,
.section-page {
  background-color: rgb(93, 32, 38);
}

.section-ellipsis,
.section-you,
.section-sponsors {
  color: rgb(93, 32, 38);
}

.section-talks {
  background-color: rgb(197, 66, 76);
}

.section-guests {
  cite p {
    font-size: 0.9em;
    font-weight: normal;
  }
}

.container {
  h1,
  p {
    text-align: center;
  }
}

.elm-container {
  h1,
  p {
    text-align: unset;
  }
}

.sponsor {
  margin-bottom: 1em;
  text-align: center;
}

.block {
  max-width: 35rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  font-size: 1.5em;
  padding: 2em;

  small {
    font-size: 0.7em;
  }
}

.faq {
  h2 {
    font-size: 1em;
  }

  p {
    text-align: left;
    color: #ccc;
    font-weight: normal;
    margin: 0.2em 0 1em;
  }

  dl {
    margin: 0;
  }

  dd {
    color: #ccc;
    font-weight: normal;
    margin: 0.2em 0 1em;
  }
}

.talks-list {
  margin-bottom: 5em;

  li {
    font-weight: normal;
    margin-bottom: 1em;
  }

  .title {
    display: block;
    font-weight: bold;
  }

  .resources {
    display: block;
  }
}
