@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Variables */
:root {
  --mainColor: #000;
  --imgColor: #eee;
  --backgroundColor: #fff;
  --mainFont: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --mainFontSize: 36px;
  --headingFont: var(--mainFont);
  --headingColor: #b31d0f;
  --linkColor: #b31d0f;
  --linkColorHover: #f77c66;
  --headingMargin: 0 0 20px 0;
  --headingLineHeight: 0.9em;
  --headingLetterSpacing: 0.02em;
  --headingTextTransform: uppercase;
  --headingTextShadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  --heading1TextShadow: var(--headingTextShadow);
  --selectionBackgroundColor: #ff5e99;
  --selectionColor: #fff;
}

/* Styles */
body {
  background-color: var(--backgroundColor);
}

::selection {
  color: var(--selectionColor);
  background: var(--selectionBackgroundColor);
}

.reveal {
  color: var(--mainColor);
  font-family: var(--mainFont);
  font-size: var(--mainFontSize);
  font-weight: normal;
  letter-spacing: -0.02em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: var(--headingColor);
  font-family: var(--headingFont);
  font-weight: 200;
  letter-spacing: var(--headingLetterSpacing);
  line-height: var(--headingLineHeight);
  margin: var(--headingMargin);
  text-transform: var(--headingTextTransform);
}

.reveal h3 {
  margin-top: 1em;
}

.reveal a:not(.image) {
  color: var(--linkColor);
  text-decoration: none;
}

.reveal a:not(.image):hover {
  border: none;
  color: var(--linkColorHover);
  text-shadow: none;
}

.reveal section img {
  margin: 15px 0px;
  background: #fefefe;
  border: 2px solid #ddd;
  padding: 0.2em;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: var(--linkColor);
}

.reveal table {
  font-size: 0.6em;
  margin: auto;
  width: 90%;
  margin-bottom: 2em;
}

.reveal table td,
.reveal table th {
  border-bottom: 1px solid #eee;
}

.reveal .header {
  height: 60px;
  line-height: 60px;
  padding: 10px 30px;
  pointer-events: none;
}

.reveal .header .date {
  float: right;
  font-size: 20px;
}

.reveal .header .logo {
  float: left;
  height: 100%;
}
