@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

$mainColor: #000;
$imgColor: #EEE;
$backgroundColor: #FFF;
$mainFont: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
$mainFontSize: 36px;
$headingFont: $mainFont;
$headingColor: #B31D0F;
$linkColor: #B31D0F;
$linkColorHover: lighten( $linkColor, 20% );

$headingMargin: 0 0 20px 0;
$headingLineHeight: 0.9em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: uppercase;
$headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$heading1TextShadow: $headingTextShadow;

$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

body {
  background-color: $backgroundColor;
}

::selection {
  color: $selectionColor;
  background: $selectionBackgroundColor;
}

.reveal {
  color: $mainColor;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: normal;
  letter-spacing: -0.02em;

  h1, h2, h3, h4, h5, h6 {
    color: $headingColor;
    font-family: $headingFont;
    font-weight: 200;
    letter-spacing: $headingLetterSpacing;
    line-height: $headingLineHeight;
    margin: $headingMargin;
    text-transform: $headingTextTransform;
  }

  h3 {
    margin-top: 1em;
  }

  a:not(.image) {
    color: $linkColor;
    text-decoration: none;

    &:hover {
      border: none;
      color: $linkColorHover;
      text-shadow: none;
    }
  }

  section img {
    margin: 15px 0px;
    background: #FEFEFE;
    border: 2px solid #DDD;
    padding: .2em;
  }

  a:hover img {
    background: rgba(255,255,255,0.2);
    border-color: $linkColor;
  }

  table {
    font-size: .6em;
    margin: auto;
    width: 90%;
    margin-bottom: 2em;

    td, th {
      border-bottom: 1px solid #EEE;
    }
  }

  .header {
    height: 60px;
    line-height: 60px;

    padding: 10px 30px;
    pointer-events: none;

    .date {
      float: right;
      font-size: 20px;
    }

    .logo {
      float: left;
      height: 100%;
    }
  }
}
