/* This file is temporary before we transition to Tailwind */
/* We define the same utilities as Tailwind, once we install Tailwind we can delete this file */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}
