name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: [master]

concurrency: ci-${{ github.ref }}

jobs:
  test:
    name: Test

    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      RAILS_ENV: test
      BUNDLE_JOBS: 4
      BUNDLE_PATH: "vendor/bundle"

    services:
      postgres:
        image: postgres:13
        ports: ["5432:5432"]
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: paris_rb_test
          POSTGRES_PASSWORD: postgres

      redis:
        image: redis
        ports: ["6379:6379"]

    steps:
      - name: Checkout Commit
        uses: actions/checkout@v3

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Prepare database
        env:
          PGHOST: localhost
          PGUSER: postgres
          PGPASSWORD: postgres
        run: |
          cp config/database.ci.yml config/database.yml
          bin/rails db:create db:schema:load

      - name: Run tests
        run: |
          bin/rails test:all

      - name: Smoke test database seeds
        run: bin/rails db:reset
