doctype html
html lang="fr"
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    - if ENV["GOOGLE_WEB_TOOLS_ID"]
      meta name="google-site-verification" content="#{ENV["GOOGLE_WEB_TOOLS_ID"]}"

    = display_meta_tags reverse: true, site: t('site_name'), separator: '·'

    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  body
    = render 'shared/navbar'
    .main-content
      - if notice
        p.notice = notice
      - if alert
        p.alert = alert

      = yield

    footer
      p
        = link_to t('project_on_github'), 'https://github.com/parisrb/rubyparis.org'
        = link_to t('contact_maintainer'), 'https://twitter.com/happynoff'

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
    = javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js'
    = javascript_include_tag 'application'
